body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

table {
  width: 25%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 20px;
  text-align: center;
}

th {
  background-color: #85b6ff;
}

.mag-red {
  color: #ff0000;
}

.mag-yellow {
  color: #ffcc00;
}

.mag-green {
  color: #00cc00;
}
header {
  display: flex;
  align-items: center;
}

header img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

tr {
  color: #000;
  position: relative;
  text-decoration: none;
}

tr::before {
  background: hsla(0, 0%, 69%, 0.39);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

tr:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

